<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.epn.aquariumchecker">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/btn_star_big_on"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.AquariumCherckerMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AgregarPlantasPeces"
            android:label="@string/title_activity_agregar_plantas_peces" />
        <activity
            android:name=".views.MisAcuarios"
            android:label="@string/title_activity_mis_acuarios"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.MisPeces"
            android:label="@string/title_activity_mis_peces"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.NuevoAcuario"
            android:label="@string/title_activity_nuevo_acuario"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.Galeria"
            android:label="@string/title_activity_galeria"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.Fotos"
            android:label="@string/title_activity_fotos"
            android:parentActivityName=".views.Galeria"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.Galeria" />
        </activity>
        <activity
            android:name=".views.MisPlantas"
            android:label="@string/title_activity_plantas"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.EditarAcuario"
            android:label="@string/title_activity_editar_acuario_1"
            android:parentActivityName=".views.EditarAcuario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.EditarAcuario" />
        </activity>
    </application>

</manifest>