<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.epn.aquariumchecker">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/btn_star_big_on"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.AquariumCherckerMain"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".views.MisAcuarios"
            android:label="@string/title_activity_mis_acuarios"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.MisPecesAcuarios"
            android:label="@string/title_activity_mis_peces"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.NuevoAcuario"
            android:label="@string/title_activity_nuevo_acuario"
            android:parentActivityName=".views.MisAcuarios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.MisAcuarios" />
        </activity>
        <activity
            android:name=".views.GaleriaAcuario"
            android:label="@string/title_activity_galeria"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.Fotos"
            android:label="@string/title_activity_fotos"
            android:parentActivityName=".views.Galeria"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.Galeria" />
        </activity>
        <activity
            android:name=".views.MisPlantas"
            android:label="@string/title_activity_plantas"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.EditarAcuario"
            android:label="@string/title_activity_editar_acuario"
            android:parentActivityName=".views.EditarAcuario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.EditarAcuario" />
        </activity>
        <activity
            android:name=".views.Historial_Ciclado"
            android:label="@string/title_activity_historial_ciclado"
            android:parentActivityName=".views.ListHistorial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.ListHistorial" />
        </activity>
        <activity
            android:name=".views.Recordatorios"
            android:label="@string/title_activity_recordatorios"
            android:parentActivityName=".views.ListRecordatorios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.ListRecordatorios"
            android:label="@string/title_activity_list_recordatorios"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.ListHistorial"
            android:label="@string/title_activity_list_historial"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.MisPeces"
            android:label="@string/title_activity_mis_peces"
            android:parentActivityName=".views.MisPecesAcuarios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.MisPecesAcuarios" />
        </activity>
        <activity
            android:name=".views.MisPlantasAcuario"
            android:label="@string/title_activity_mis_plantas_acuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.Galeria"
            android:label="@string/title_activity_galeria"
            android:parentActivityName=".views.GaleriaAcuario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.GaleriaAcuario" />
        </activity>
        <activity
            android:name=".views.NuevaGaleria"
            android:label="@string/title_activity_nueva_galeria"
            android:parentActivityName=".views.GaleriaAcuario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/AppTheme.NoActionBar"
                android:value="ec.edu.epn.aquariumchecker.views.GaleriaAcuario" />
        </activity>
        <activity
            android:name=".views.NuevoPez"
            android:label="@string/title_activity_nuevo_pez"
            android:parentActivityName=".views.MisPeces"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.MisPeces" />
        </activity>
        <activity
            android:name=".views.Ayuda"
            android:label="@string/title_activity_ayuda"
            android:parentActivityName=".views.AquariumCherckerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.Historiales"
            android:label="@string/title_activity_historiales"
            android:parentActivityName=".views.ListHistorial"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.RcordatoriosListaAcuaruios"
            android:label="@string/title_activity_rcordatorios_lista_acuaruios"
            android:parentActivityName=".views.ListRecordatorios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.AquariumCherckerMain" />
        </activity>
        <activity
            android:name=".views.NuevoPlanta"
            android:label="@string/title_activity_nuevo_planta"
            android:parentActivityName=".views.MisPlantasAcuario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.epn.aquariumchecker.views.MisPlantasAcuario" />
        </activity>
        <activity
            android:name=".views.Navegacion"
            android:label="@string/title_activity_navegacion"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>